<body style="font-family: 'Poppins', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 20px;">
                <table class="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                    <tr>
                        <td class="header" style="background-color: #345C72; padding: 40px; text-align: center; color: white; font-size: 24px;">
                            Chào mừng bạn đến với ZOOFARI
                        </td>
                    </tr>

                    <tr>
                        <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                            Xin chào {{name}},<br><br>
                            Rất vui mừng chào đón bạn đến với cộng đồng người dùng của chúng tôi.<br><br>
                            Để bắt đầu hành trình trải nghiệm , bạn cần kích hoạt tài khoản của mình. Mã kích hoạt của bạn là:
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 0px 40px 0px 40px; text-align: center;">
                            <table cellspacing="0" cellpadding="0" style="margin: auto;">
                                <tr>
                                    <td align="center" style="background-color: #345C72; padding: 10px 20px; border-radius: 5px;">
                                        <span style="color: #ffffff; font-weight: bold;">{{activationCode}}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                            Hãy sử dụng mã kích hoạt trên để hoàn tất quá trình đăng ký tài khoản của bạn.<br><br>
                            Chúng tôi rất mong bạn sẽ có những trải nghiệm tuyệt vời!!
                        </td>
                    </tr>

                    <tr>
                        <td class="footer" style="background-color: #333333; padding: 40px; text-align: center; color: white; font-size: 14px;">
                            ZOOFARI
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>